.flag {
            width: 450px;
            height: 300px;
            display: flex;
            border: 2px solid black;
        }

 .green {
            background-color: #008753;
            width: 33.33%;
           }

.white {
            background-color: #FFFFFF;
            width: 33.33%;
}